body {
  background: #f9fbff;
  font-family: "Poppins", sans-serif;
  color: #333;
}

header {
  background: #5a4bdd;
  color: white;
  text-align: center;
  padding: 2rem;
}

nav {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

nav a {
  display: inline-block;
  background: #5a4bdd;
  color: white;
  padding: 0.6rem 1rem;
  border-radius: 8px;
  text-decoration: none;
  font-size: 0.95rem;
  transition: 0.3s;
}

nav a:hover {
  text-decoration: underline;
  transform: scale(1.05);
}

.cards {
  max-width: 950px;
  margin: 2rem auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
  padding: 1rem;
}

.card {
  background: white;
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 3px 6px rgba(214, 146, 146, 0.1);
  transition: transform 0.2s;
}

.card:hover {
  transform: translateY(-5px);
}

.card h2 {
  color: #4c3eb0;
  margin-bottom: 0.5rem;
}

footer {
  background: #5a4bdd;
  color: white;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
}
.btn1{
  display: inline-block;
  background: #5a4bdd;
  color: white;
  padding: 0.6rem 1rem;
  border-radius: 8px;
  text-decoration: none;
  font-size: 0.95rem;
  transition: 0.3s;
}
.btn2{
  display: inline-block;
  background: #5a4bdd;
  color: white;
  padding: 0.6rem 1rem;
  border-radius: 8px;
  text-decoration: none;
  font-size: 0.95rem;
  transition: 0.3s;
}
.btn3{
  display: inline-block;
  background: #5a4bdd;
  color: white;
  padding: 0.6rem 1rem;
  border-radius: 8px;
  text-decoration: none;
  font-size: 0.95rem;
  transition: 0.3s;
}
.btn4{
  display: inline-block;
  background: #5a4bdd;
  color: white;
  padding: 0.6rem 1rem;
  border-radius: 8px;
  text-decoration: none;
  font-size: 0.95rem;
  transition: 0.3s;
}
.btn5{
  display: inline-block;
  background: #5a4bdd;
  color: white;
  padding: 0.6rem 1rem;
  border-radius: 8px;
  text-decoration: none;
  font-size: 0.95rem;
  transition: 0.3s;
}
.btn6{
  display: inline-block;
  background: #5a4bdd;
  color: white;
  padding: 0.6rem 1rem;
  border-radius: 8px;
  text-decoration: none;
  font-size: 0.95rem;
  transition: 0.3s;
}
.btn7{
  display: inline-block;
  background: #5a4bdd;
  color: white;
  padding: 0.6rem 1rem;
  border-radius: 8px;
  text-decoration: none;
  font-size: 0.95rem;
  transition: 0.3s;
}
.btn8{
  display: inline-block;
  background: #5a4bdd;
  color: white;
  padding: 0.6rem 1rem;
  border-radius: 8px;
  text-decoration: none;
  font-size: 0.95rem;
  transition: 0.3s;
}