.container{
   display: flex;        
  justify-content: center;  
  align-items: center;      
  height: 100vh;
  text-align: center;
  
}
.bloco{
    width: 350px;
    background-color: #4c3eb0;
    height: 390px;
    text-align: center;
    border-radius: 20px;
}
h1{
    margin-top: 125px;
}
body{
    background-color: #ccc;
}
input{
    margin-bottom: 12px;
    padding: 8px;
    border-radius: 10px;
    border: 2px solid #ffffff80; 
     
 
 
}
button{
    width: 60px;
    height: 20px;
}