body {
  background: #f7faff;
  font-family: "Poppins", sans-serif;
  color: #333;
  
}

header {
  background: #6b5cff;
  color: white;
  text-align: center;
  padding: 2rem 1rem;
  width: 1330px;
}

nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
  font-weight: 500;
}

nav a:hover {
  text-decoration: underline;
}

main {
  padding: 2rem;
  max-width: 900px;
  margin: auto;
}

.card {
  background: white;
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.1);
  margin-bottom: 1.5rem;
}
.btn1{
  display: inline-block;
  background: #5a4bdd;
  color: white;
  padding: 0.6rem 1rem;
  border-radius: 8px;
  text-decoration: none;
  font-size: 0.95rem;
  transition: 0.3s;
}
.btn2{
  display: inline-block;
  background: #5a4bdd;
  color: white;
  padding: 0.6rem 1rem;
  border-radius: 8px;
  text-decoration: none;
  font-size: 0.95rem;
  transition: 0.3s;
}
