body {
  margin: 0;
  padding: 0;
  background: #ccc;
  font-family: "Poppins", sans-serif;
}

header {
  background: #4c3eb0;
  color: white;
  text-align: center;
  padding: 2rem;
}

nav a {
  color: white;
  margin: 0 12px;
  text-decoration: none;
}

.video-card {
  max-width: 800px;
  margin: 2rem auto;
  background: white;
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.1);
}

iframe {
  width: 100%;
  height: 400px;
  border-radius: 10px;
  border: none;
}
footer {
  background: #4c3eb0;
  color: white;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
}
